
.sample {
  -webkit-transition:all linear 0.4s;
  transition: all linear 0.4s;
  position: relative;
  top:0px;
  
}


.sample.ng-hide {
	top:-225px;
  	opacity:0;
  
} 


.animation-include-index{
	-webkit-transition:all linear 0.2s;
  	transition: all linear 0.2s;
  	opacity:1;
}

.animation-include-index.ng-enter{	
  	opacity:0;
}

.animation-include-index.ng-leave{	
  	opacity:1;
}