<div class="row">
    <div ng-controller="BuscarCedulaController as BusCedCtrl" class="col-md-5">
        <form ng-submit="buscar()" name="formConsultaCedula" role="form">
            <div class="form-group" ng-class="claseInput">
                <div class="input-group">
                  <span class="input-group-addon">Cédula</span>
                  <input type="text" class="form-control" placeholder="Ingresar cédula" ng-model="cedula" value="{{cedula}}" required>                                 
                </div>
            </div>
            <div class="button-group pull-right">
                <button type="submit" class="btn btn-primary" ng-disabled="!formConsultaCedula.$valid">Consultar</button>
                <button type="button" class="btn btn-default" ng-click="limpiar()">Limpiar</button>
            </div>
        </form>
<!--         {{result}}
        {{deaseaAfiliarse}} -->
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Resultado de busqueda</h3>
            </div>
            <div class="modal-body">
                <p ng-show="afiliado"> El numero de cedula pertenece a <strong>{{result.afiliado_nombre}} {{result.afiliado_apellido1}} {{result.afiliado_apellido2}}</strong> afiliado del Partido Accion Ciudadana
                </p>
                <p ng-show="!afiliado">El numero de cedula <strong>{{cedula}}</strong> no registra ningun afiliado del Partido Accion Ciudadana </p><!--<strong>desea afiliarse?</strong>-->
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok(false)" ng-show="afiliado">Gracias</button>

                <!--<button class="btn btn-primary" ng-click="ok(true)" ng-show="!afiliado">Si, adelante</button>-->
                <button class="btn btn-primary" ng-click="ok(true)" ng-show="!afiliado">Ok</button>
                <!--<button class="btn btn-warning" ng-click="cancel(false)" ng-show="!afiliado">No, Gracias</button>-->
            </div>
        </script>

    </div>
</div>