<div class="row">
    <div style="margin-top:3em;" ng-controller="BuscarCedulaController as BusCedCtrl" 
         class="col-xs-12 col-sm-8 col-md-6 col-lg-4 col-sm-offset-2 col-md-offset-4  col-lg-offset-4">
        <form ng-submit="buscar(cedula)" name="formConsultaCedula" role="form" novalidate>
            <div class="form-group" ng-class="claseInput">
                <div class="input-group">
                    <span class="input-group-addon">
                        Cédula
                    </span>
                    <input 
                        name="cedula" 
                        type="text" 
                        class="form-control" 
                        placeholder="Ingresar cédula"
                        ng-model="cedula" 
                        ng-pattern="RegExp.integer"   
                        ng-maxlength="9"  
                        ng-minlength="9"                       
                        value="cedula"  
                        required>    
                    </input>                    
                </div>           
            </div>
            <div class="alert alert-success" role="alert" ng-show="formConsultaCedula.$valid">
                <strong>Listo!</strong> De un click en registrar o presione enter.
            </div> 
            <div class="alert alert-danger" role="alert" ng-show="formConsultaCedula.cedula.$error.pattern">
                Debe ingresar solo <strong>números</strong>.
            </div>

            <div class="alert" ng-class="{ 'alert-danger' : formConsultaCedula.cedula.$error.maxlength , 'alert-warning' :formConsultaCedula.cedula.$error.minlength }" role="alert" ng-show="formConsultaCedula.cedula.$error.maxlength || formConsultaCedula.cedula.$error.minlength">
               Su número de cédula debe de tener <strong>9 dígitos</strong> en formato <strong>101110111</strong>.
            </div>          

            <div class="button-group pull-right">
                <button type="submit" class="btn btn-primary" ng-disabled="!formConsultaCedula.$valid">Consultar</button>
                <button type="button" class="btn btn-default" ng-click="resetSolicitud()">Limpiar</button>
            </div>       
            {{cedula}} 
        </form>


        <script type="text/ng-template" id="myModalContent.html">

            <div class="modal-header">
                <h3 class="modal-title">Resultado de busqueda</h3>
            </div>

            <div class="modal-body">
                <p ng-show="afiliado.afiliado_cedula"> El numero de cedula pertenece a <strong>{{afiliado.afiliado_nombre}} {{afiliado.afiliado_apellido1}} {{afiliado.afiliado_apellido2}}</strong> afiliado del Partido Accion Ciudadana
                </p>
                <p ng-show="!afiliado.afiliado_cedula">El numero de cedula <strong>{{cedula}}</strong> no registra ningun afiliado del Partido Accion Ciudadana </p><!--<strong>desea afiliarse?</strong>-->
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">Gracias</button>                
            </div>
        </script>
    </div>
</div>